<div class="col-lg-6 col-md-12">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="red">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Negative Sentiment</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#profile" data-toggle="tab">
                                <i class="material-icons">remove</i>
                                Topic: INDIA
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table neg">
                        <tbody>
                            <!--<tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                        </label>
                                    </div>
                                </td>
                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Approve Annotation" class="btn btn-primary btn-simple btn-xs">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Wrong Classification" class="btn btn-danger btn-simple btn-xs">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 col-md-12">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="green">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Positive Sentiment</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#profile" data-toggle="tab">
                                <i class="material-icons">add</i>
                                Topic: INDIA
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table pos">
                        <tbody>
                            <!--<tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                        </label>
                                    </div>
                                </td>
                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Approve Annotation" class="btn btn-primary btn-simple btn-xs">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Wrong Classification" class="btn btn-danger btn-simple btn-xs">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>